pytest==8.3.4
pytest-aiohttp==1.0.5
pytest-pg==0.0.21
pytest-runner==6.0.1
pytest-asyncio==0.24.0
isort==5.13.2
flake8==7.1.1
pyright==1.1.389
black==24.10.0
asyncpg==0.30.0
setuptools==75.6.0
wheel==0.45.1
twine==6.0.1
