pytest==8.3.5
pytest-aiohttp==1.1.0
pytest-pg==0.0.25
pytest-runner==6.0.1
pytest-asyncio==0.26.0
isort==6.0.1
flake8==7.2.0
pyright==1.1.401
black==25.1.0
asyncpg==0.30.0
setuptools==80.9.0
wheel==0.45.1
twine==6.1.0
