pytest==8.3.3
pytest-aiohttp==1.0.5
pytest-pg==0.0.21
pytest-runner==6.0.1
pytest-asyncio==0.24.0
isort==5.13.2
flake8==7.1.1
pyright==1.1.382.post1
black==24.8.0
asyncpg==0.29.0
setuptools==75.1.0
wheel==0.44.0
twine==5.1.1
